<div class="row">
  <div class="col-md-8">
    <!-- User border-right instead of | -->
    <h2>Wasif Zaman</h2>
    <h3>Currently self-learning to web dev and design. Will be attending Full Stack Academy in April 2017.</h3>
    <!-- <p><a href="mailto:teatocode@gmail.com">teatocode@gmail.com</a></p> -->
    <!-- <a href="#/admin">Login</a> -->
  </div>

  <div class="col-md-4 social">
    <a href="#/"><i class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a>
    <a href="#/"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
    <a href="#/"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
  </div>
</div>
