<div class="">
  <fieldset class="form-group">
    <label for="title">Title</label>
    <input class="form-control" type="text" id="title" name="title" ng-model="project.title" ng-required="true"/>
  </fieldset>

  <fieldset class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control" id="description" name="description" ng-model="project.description" ng-required="true"></textarea>
  </fieldset>

  <fieldset class="form-group">
    <label for="url">Live Demo URL</label>
    <input class="form-control" type="url" id="livedemo" name="description" ng-model="project.url"></textarea>
  </fieldset>

  <fieldset class="form-group">
    <label for="gitHub">GitHub URL</label>
    <input class="form-control" type="url" id="github" name="description" ng-model="project.gitHub"></textarea>
  </fieldset>
</div>
