<div class="container-fluid">

  <div class="row">
    <div class="col-md-6">
      <figure>
        <img src="" alt="" />
      </figure>
    </div>

    <div class="col-md-6">
      <h1>Wasif Zaman</h1>
      <h3>Passionate coder and cyclist!</h3>

      <p>
        Thank you for visiting my website. I am a very passionate coder and I'm always looking to improve my skills by studying and building new apps. I currently code in JavaScript and have basic knowledge of MEAN and EARN stacks. If you would like to work on a project with me, please send an email to teatocode@gmail.com !!
      </p>

      <p>
        I'm also a passionate cyclist and you can check out my photos and blog on my personal site here:
        <a href="http://wasifzaman.net/wasifrides">wasifzaman.net/wasifrides</a>
      </p>
        Thanks again for visiting my site!
      <p>
        <a href="mailto:teatocode@gmail.com">teatocode@gmail.com</a>
      </p>
    </div>
  </div>
  
</div>
