<div class="contact">
  <h1>Contact me!</h1>

  <br>

  <form name="contact">
    <fieldset class="form-group">
      <!-- <label for="title">Name</label> -->
      <input class="form-control" type="text" id="name" name="name" placeholder="Name..." ng-model="email.name" ng-required="true"/>
    </fieldset>

    <fieldset class="form-group">
      <!-- <label for="email">Email</label> -->
      <input class="form-control" type="email" id="email" name="email" placeholder="Email..." ng-model="email.sender" ng-required="true"></textarea>
    </fieldset>

    <fieldset class="form-group">
      <!-- <label for="description">Inquiry</label> -->
      <textarea rows="7" class="form-control" id="inquiry" name="inquiry" placeholder="Inquiry..." ng-model="email.body" ng-required="true"></textarea>
    </fieldset>

    <!-- <a ng-click="test(email)">Test</a> -->

    <!-- <input type="submit" class="btn" ng-click="form.$valid && sendEmail(email)"> -->
    <input type="submit" class="btn" ng-click="contact.$valid && sendEmail(email)">
  </form>
</div>
