<div class="home">
  <h1>TeaToCode</h1>

  <pre>
    <code class="javascript hljs">
      <span class="hljs-keyword">var</span> <span class="hljs-title">toCode</span> = function(mockup) {
        <span class="hljs-keyword">return function</span>(chai) {
          <span class="hljs-keyword">return</span> mockup * chai;
        };
      }

      project1 = <span class="hljs-title">toCode</span>(mockup_1);
      product_v1 = <span class="hljs-title">project1</span>(bengal_chai);
      product_v2 = <span class="hljs-title">project1</span>(masala_chai);
      product_v3 = <span class="hljs-title">project1</span>(spiced_masala_chai);

      <span class="hljs-title">emailToClient</span>({
        <span class="hljs-string">"Subject": "Spiced Masala Chai yielded best result!!"</span>,
        <span class="hljs-string">"Body": " ... "</span>
      });
    </code>
  </pre>

  <p>
    Hi there! My name is Wasif and you've stumbled upon my website.
    I am an aspiring developer.
    I will be attending Fullstack Academy come April 2017.
    Please take a look around and if you're intereseted in working with me, click the Contact button.
  </p>
</div>
