/* Reset */
html, body, h1, h2,
h3, p, ol, ul, li, a {
    padding: 0;
    border: 0;
    margin: 0; }

/* Style guide */
html {
  font-size: 16px;
}

body {
  font-size: 100%;
  line-height: 1.5em;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 0.75em;
}

nav, footer {
  font-size: 1em;
}
/****************/

body {
  /*background-image: url('../assets/images/wccsnfwrkz0-cameron-kirby.jpg');*/
  position: relative;
  transition: margin 0.5s;
}

.slide-right {
  left: 0;
}

nav {
  position: fixed;
  top: 0px;
  left: -25%;
  height: 100vh;
  width: 25%;
  background-color: hsl(0, 0%, 20%);
  transition: left 0.5s;
}

nav ul {
  position: relative;
  top: 40vh;
  margin: 0;
  text-align: center;
  color: hsl(0, 0%, 85%);
  list-style-type: none;
}

nav ul li:hover {
  background-color: hsl(0, 0%, 70%);
  color: hsl(0, 0%, 20%);
}

pre,
.hljs {
  border: none;
  color: hsl(0, 0%, 30%);
}

.home p {
  /*max-width: 400px;*/
}

.home h1 {
  text-align: center;
}

main {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
}

.home h1,
.about,
.contact {
  padding-top: 12.72265%;
}
.home p,
.home pre {
  margin-top: 12.72265%;
}

.search-container {
  padding-top: 24.19355%;
}

.list-project {
  padding: 4.83871% 0;
}

.list-project:nth-child(2) {
  margin-top: 8.29032%;
}

.tag-filter {
  margin-top: 1.68634%;
}

.side-menu-icon {
  position: fixed;
  top: 20px;
  left: 20px;
  color: hsl(0, 0%, 90%);
  transition: all 0.5s;
}

.fa-bars.side-menu-icon {
  color: hsl(0, 0%, 50%);
}

.fa {
  font-size: 1.2em;
}

.search-container .input-group input {
  z-index: auto;
}

@media only screen and (max-width: 1100px) {
}
