/* Reset */
html, body, h1, h2,
h3, p, ol, ul, li, a {
    padding: 0;
    border: 0;
    margin: 0; }

/* Style guide */
html {
  font-size: 16px;
}

body {
  font-size: 100%;
  line-height: 1.5em;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 0.75em;
}

nav, footer {
  font-size: 1em;
}
/****************/

body {
  /*background: url('../assets/images/wccsnfwrkz0-cameron-kirby.jpg')*/
  position: relative;
}

main {
  margin-left: 200px;
}

nav {
  float: left;
  height: 100vh;
  position: fixed;;
  min-width: 200px;
  background-color: hsl(0, 0%, 20%);
}

nav ul {
  position: absolute;
  top: 50%;
  margin: 0;
  transform: translateY(-50%);
  min-width: inherit;
  text-align: center;
  color: hsl(0, 0%, 85%);
}

nav ul li:hover {
  background-color: hsl(0, 0%, 70%);
  color: hsl(0, 0%, 20%);
}

pre,
.hljs {
  background-color: transparent;
  border: none;
  color: hsl(0, 0%, 50%);
}

.home,
.about,
.contact {
  max-width: 620px;
}

.home p,
.search-container {
  max-width: 400px;
}

.home pre {
  padding-left: 62px;
}

.home h1 {
  text-align: center;
}

.home,
.all-projects,
.about,
.contact,
.home p {
  margin: 0 auto;
}

.home h1,
.search-container,
.about,
.contact {
  padding-top: 12.72265%;
}
.home p,
.home pre {
  margin-top: 12.72265%;
}

.search-container {
  margin-left: 21.01576%;
}

.all-projects {
  max-width: 1000px;
}

.all-projects .row:nth-child(2) {
  margin-top: 12.72265%;
}

.list-project {
  margin-bottom: 3.43171%;
}

.tag-filter {
  margin-top: 1.68634%;
}
