/* Style guide */
html {
  font-size: 16px;
}

body {
  font-size: 100%;
  line-height: 1.5em;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 0.75em;
}

nav, footer {
  font-size: 1em;
}
/****************/

.home {
  max-width: 70%;
  margin: 0 auto;
}
